html, body {
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-color: #212529;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.content {
    padding-top: 1rem;
}
